body{

    background-image: url('./Assets/Images/Background.png');
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.container {
    
    margin-left: 4%;
   
    display: flex;
    flex-wrap: wrap;

  }

.open-sans-extraBold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .open-sans-semiBold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* Min-width 769px and max-width 992px */
@media (min-width: 769px) and (max-width: 992px) {
  img{
    width: 190px ;
    height: 330px;
   }
}


  /* Min-width 577px and max-width 768px */
@media (min-width: 577px) and (max-width: 768px) {
  img{
    width: 130px ;
    height: 200px;
   }
}


  /* Max-width 576px */
@media (max-width: 576px) {
 img{
  width: 150px ;
  height: 200px;
 }
}
